.navbar {
    position: sticky;
    top: 0;
    z-index: 9999;
}
.btn-generate {
    width: 100%;
    height: 3.75rem;
    text-transform: uppercase;
    justify-content: center;
}
div.container-narrow {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}
#qrcode {
    padding: 3rem;
    box-sizing: border-box;
    margin: 0 auto;
}

#qrcode img {
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin: auto;
}
#scrollToTopButton {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;
  }
  #scrollToTopButton:hover {
    background-color: rgba(0, 0, 0, 1);
    transition: background-color 0.5s;
  }
  #scrollToTopButton.fade-in, 
  #scrollToTopButton.fade-out {
    transition: opacity 0.5s;
  }
  
  #scrollToTopButton.fade-out {
    opacity: 0;
  }
  
  #scrollToTopButton.fade-in {
    opacity: 1;
  }